@{
    ViewData["Title"] = "Home Page";
}

<br>
<h2>Welcome to My Video Store</h2>
<br>
<button><a asp-controller="Customers" asp-action="Index">Customers</a></button>
<button><a asp-controller="Genres" asp-action="Index">Genres</a></button>
<button><a asp-controller="Movies" asp-action="Index">Movies</a></button>
<button><a asp-controller="RentalRecords" asp-action="Index">Rental Records</a></button>
<button><a asp-controller="Home" asp-action="Overdue">Overdue</a></button>
<button><a asp-controller="Home" asp-action="Return">Return</a></button>
